/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  min-height: 100%;
  background: url(assets/background.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'New Tegomin', serif;
}

.profile-card {
  width: 50vh;
  max-width: 50vh;
  max-width: calc(100vw - 10px);
  border: 0.125rem solid;
  border-color: deepskyblue;
}


/* mobil responsiv */

@media (min-width: 768px) {
	
	img {
		width: 20%;
        margin-top: 3rem;
        
	}
    
    profile-card {
        margin-top: 5rem;
  }
  
    .language {
        position: inherit;
  }
	
}

@media (min-width: 1025px) {
	
	img {
		width: 20%;
		margin-top: -10%;
	}
	
	.profile-card {
		border-right: solid 1px deepskyblue;
		border-left: solid 1px deepskyblue;
		box-shadow: hsla(195.06, 100%, 50%,) 10px 10px 70px;
	}
}


.head, .links {
  text-align: center;
}

.head, .content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

img {
  width: 40%;
  height: 12.5rem;
  border: 2px solid;
  border-color: hsla(195.06, 100%, 50%,);
  border-radius: 20%;
  background-color: black;
  opacity: 0.6;
}

img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: grayscale(30%);
  opacity: inherit;
}

.profile-image {
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}


.about {
  font-size: 1.25rem;
  margin-top: -2rem;
}

.head, .about {
  margin-bottom: 10%;
  padding: 5%;
  font-family: 'New Tegomin', serif;
}

.content {
  padding: 5% 5%;
}

.profile-card {
  background-color: hsla(195.06, 100%, 50%,);
  border-radius: 0.625rem;
  box-shadow: hsla(195.06, 100%, 50%, .8) 15px 15px 85px;
}

.name-headline {
  font-size: 1.875rem;
  font-family: 'New Tegomin', serif;
  margin-top: 1.25rem;
}

i {
  color: deepskyblue;
  padding: 0.8em;
}

i:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

p {
  text-align: center;
  color: deepskyblue;
}

a, h1, h2 {
  color: deepskyblue;
}

a:hover {
  color: black;
}

h1 {
  font-size: 2.5rem;
}

.language {
  margin: auto;
  width: 49%;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
}

.language:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

