* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url(assets/background.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'New Tegomin', serif;
}

.profile-card {
  width: 100vw;
  max-width: 60vh;
  margin: 0 auto;
  margin-top: auto;
  padding: 1.5rem;
  border: 0.125rem solid;
  border-color: deepskyblue;
  border-radius: 0.625rem;
  text-align: center;
}

.head, .links {
  text-align: center;
}

.head, .content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}


img {
  width: auto;
  height: 200px;
  border: 2px solid;
  border-color: hsla(195.06, 100%, 50%);
  border-radius: 10%;
  background-color: black;
  opacity: 0.6;
}

img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: grayscale(30%);
  opacity: inherit;
}


ul {
  list-style-type: none;
}

li {
  display: inline;
}


.about {
  font-size: 1.1rem;
  margin-top: -2rem;
}

.head, .about {
  margin-bottom: 10%;
  padding: 5%;
  font-family: 'New Tegomin', serif;
}

.content {
  padding: 5% 5%;
}

.name-headline {
  font-size: 1.875rem;
  font-family: 'New Tegomin', serif;
  margin-top: 1rem;
}

i {
  color: deepskyblue;
  padding: 0.8em;
}

i:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
  color: deeppink;
}

p {
  text-align: center;
  color: deepskyblue;
}

a, h1, h2 {
  color: deepskyblue;
}

a:hover {
  color: deeppink;
}

h1 {
  font-size: 2.5rem;
}

.language {
  margin: auto;
  width: 40%;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: deeppink;
}

.language:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

.fejlec {
  font-family: 'New Tegomin', serif;
  position: absolute;
  top: 0;
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
  text-align: center;
}

.fejlec a {
  text-decoration: none;
  margin: 1.7rem;
  color: deepskyblue;
  font-weight: bold;
  box-sizing: border-box;
}

.navigation {
  box-sizing: border-box;
}

.navigation:hover {
  transform: scale(3.0);
  transition: all 0.5s ease-in-out;
  color: deeppink;
}


/* mobil responsiv */

@media (min-width: 740px) {
	
  body {
    background-size: cover;
  }
	
    
  .language {
        position: inherit;
  }
  
  .profile-card {
        border-right: solid 1px deepskyblue;
		border-left: solid 1px deepskyblue;
        position: absolute;
       
  }
	
}

